body {
    color: rgb(139, 30, 67);
    padding: 10px;
}

.registration-table {
    font-family: color: rgb(20, 69, 141);
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}